<div class="page-wrapper">
       <div class="slug-pattern slider-expand"><div class="overlay"><div class="slug-cut"></div></div></div>
        <div class="header">
            <div class="nav">
                <div class="container">
                    <!-- Standard Nav (x >= 768px) -->
                    <div class="standard">
                        <div class="five column alpha">
                            <div class="logo">
                                <a href="index.html"><img src="images/logo.png" /></a><!-- Large Logo -->
                            </div>
                        </div>
                    
                        <div class="eleven column omega tabwrapper">
                            <div class="menu-wrapper">
                                <ul class="tabs menu">
                                    <li>
                                       <a href="/tableau_bord" class="active"><span>Accueil</span></a>
                                        <ul class="child">
                                            <li><a href="index-nivo.html"></a></li>
                                            <li><a href="index-async.html">Boîte à outils</a></li>
                                            <li><a href="index-flex.html">Sécurité pour tous</a></li>
                                            <li><a href="index-style-5.html">Alternate 4</a></li>
                                            <li><a href="index-style-6.html">Alternate 5</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Intrusions&Attaques</a>
                                        <ul class="child">
                                            <li><a href="index.html">Application web</a>
                                                <ul>
                                                  <li><a href="index-nivo.html">Alternate</a></li>
                                                  <li><a href="index-async.html">Alternate 2</a></li>
                                                  <li><a href="index-flex.html">Alternate 3</a></li>
                                                  <li><a href="index-style-5.html">Alternate 4</a></li>
                                                  <li><a href="index-style-6.html">Alternate 5</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="portfolio-standard-3.html">Système</a>
                                                <ul>                                                    
                                                  <li><a href="portfolio-standard-1.html">Standard 1 Column</a></li>
                                                  <li><a href="portfolio-standard-2.html">Standard 2 Columns</a></li>
                                                  <li><a href="portfolio-standard-3.html">Standard 3 Columns</a></li>
                                                  <li><a href="portfolio-standard-3-alternate.html">Standard 3 Alternate</a></li><li><a href="portfolio-standard-4.html">Standard 4 Columns</a></li>
                                                  <li><a href="portfolio-standard-5.html">Standard 5 Columns</a></li>
                                                  <li><a href="portfolio-info.html">Info Style</a></li>
                                                  <li><a href="portfolio-basic-1.html">Basic Style</a></li>
                                                </ul>
                                            </li>                                            
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog.html">Boîte à outils</a>
                                        <ul class="child">
                                            <li><a href="blog.html">Sauvegarde de données</a></li>
                                            <li><a href="blog-style-2.html">Validation mot de passe</a></li>
                                        </ul>
                                    </li>                                    
                                    <li>
                                        <a href="contact.html">
                                            Contact
                                        </a>                                    
                                    </li>

                                    <li><a href="/profile"><img src="images/icons/user.png"></a>

                                      <ul class="child">
                                            <li><a href="/profile">Mon profil</a></li>
                                            <li><a href="/logout">Déconnexion</a></li>
                                      </ul>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Standard Nav Ends, Start of Mini -->
                    
                    <div class="mini">
                        <div class="twelve column alpha omega mini">
                            <div class="logo">
                                <a href="index.html"><img src="images/logoMINI.png" /></a><!-- Small Logo -->
                            </div>
                        </div>
                        
                        <div class="twelve column alpha omega navagation-wrapper">
                            <select class="navagation">
                                <option value="" selected="selected">Site Navagation</option>
                            </select>
                        </div>
                    </div>
                    <!-- Start of Mini Ends -->
                </div> 
                
            </div>
                
            <div class="shadow"></div>
            <div class="container">
                <div class="page-title">
                    <div class="rg"></div>
                    <h1>Bienvenue dans le panneau d'administration</h1>
                </div>
            </div>
        </div>
        
        <div class="body">
            <div class="body-round"></div>
            <div class="body-wrapper">
                <div class="content">                   
                    <div class="container">
                      <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                          <form action="/saveUser" method="POST">
                              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                                <div class="list-group">
                                  <a href="#" class="list-group-item active text-center">
                                    <h4 class="glyphicon glyphicon-plane"></h4><br/>Informations personnelles
                                  </a>
                                  <a href="#" class="list-group-item text-center">
                                    <h4 class="glyphicon glyphicon-plane"></h4><br/>Compte utilisateur
                                  </a>
                                  <a href="#" class="list-group-item text-center">
                                    <h4 class="glyphicon glyphicon-road"></h4><br/>Intrusions à signaler
                                  </a>
                                  <a href="#" class="list-group-item text-center">
                                    <h4 class="glyphicon glyphicon-home"></h4><br/>Informations sur l'envoie
                                  </a>                                  
                                </div>
                              </div>
                              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                                  <!-- perso section -->
                                  <input type="hidden" value="<% if(typeof(personne) !== 'undefined' ){ %><%= personne.id_user %><%}%>" name="id_user" />
                                  <div class="bhoechie-tab-content active">
                                      <div>
                                        <div class="form-group">
                                          <label for="nom">Nom</label>
                                          <input type="text" class="form-control" id="nom" name="nom" value=" <% if(typeof(personne) !== 'undefined' ){ %><%= personne.nom %><%}%>" placeholder="Nom">
                                        </div>
                                        <div class="form-group">
                                          <label for="prenom">Prenom</label>
                                          <input type="text" class="form-control" id="prenom" value="<% if(typeof(personne) !== 'undefined' ){ %><%= personne.prenom %><%}%>"  name="prenom" placeholder="Prenom">
                                        </div>
                                        <div class="form-group">
                                          <label for="adresse">Adresse</label>
                                          <input type="text" class="form-control" id="adresse" value="<% if(typeof(personne) !== 'undefined' ){ %><%= personne.adresse %><%}%>" name="adresse" placeholder="Adresse">
                                        </div>
                                        <div class="form-group">
                                          <label for="cp">CP</label>
                                          <input type="text" class="form-control" id="cp" value="<% if(typeof(personne) !== 'undefined' ){ %><%= personne.cp %><%}%>" name="cp" placeholder="CP">
                                        </div>
                                      </div>
                                  </div>
                                  <!-- train section -->
                                  <div class="bhoechie-tab-content">
                                      <div class="form-group">
                                        <label for="identifiant">Identifiant</label>
                                        <input type="text" class="form-control" id="identifiant" value="<% if(typeof(personne) !== 'undefined' ){ %><%= personne.username %><%}%>" name="identifiant" placeholder="Identifiant">
                                      </div>
                                      <div class="form-group">
                                        <label for="new_password">Nouveau mot de passe</label>
                                        <input type="password" class="form-control" id="new_password" placeholder="Nouveau mot de passe">
                                      </div>

                                      <div class="form-group">
                                        <label for="password">Confirmation de mot de passe</label>
                                        <input type="password" class="form-control" id="new_password" placeholder="Confirmation de mot de passe">
                                      </div>

                                      <div class="form-group">
                                        <label for="identifiant">Société</label>
                                          <select name="societe">
                                            <% societes.forEach(function(item) { %>
                                                <option value="<%= item.id_societe %>"><%= item.nom %></option>
                                            <% }); %>

                                          </select>

                                        
                                      </div>
                                  </div>
                      
                                  <!-- hotel search -->
                                  <div class="bhoechie-tab-content">
                                      <div class="form-group">
                                        <label for="categorie">Système à surveiller</label>
                                        <select name="categorie">
                                          <option>Serveur web</option>
                                        </select>
                                      </div>
                                      <div class="checkbox">
                                        <div class="panel panel-default">
                                          <div class="panel-body">
                                            Cas d'intrusion classée prioritaire
                                          </div>
                                          <div class="panel-footer">
                                            <p><input type="checkbox" name="intrusion[]" value="1"> <span>SQL Injection</span></p>
                                            <p><input type="checkbox" name="intrusion[]" value="2"> <span>SQL Injection</span></p>
                                          </div>
                                        </div>                                          
                                      </div>

                                  </div>
                                  <div class="bhoechie-tab-content">
                                      <div class="checkbox">
                                        <div class="panel panel-default">
                                          <div class="panel-body">
                                            Moyen de communication
                                          </div>
                                          <div class="panel-footer">
                                            <p><input type="checkbox" name="moyen_com[]" value="SMS" <% if ( typeof(personne) !== 'undefined' && personne.moyen_com == 'SMS') { %>
             checked = "checked"  <% }  %> > <span>Par SMS</span></p>
                                        <p><input type="checkbox" name="moyen_com[]" value="Email" <% if ( typeof(personne) !== 'undefined' && personne.moyen_com == 'Email') { %>
             checked = "checked"  <% } %> > <span>Par email</span></p>
                                          </div>
                                        </div>                                          
                                      </div>

                                      <div class="form-group">
                                        <label for="tel">Numero de télephone</label>
                                        <input type="text" class="form-control" id="numero_phone" name="tel" placeholder="Numéro de téléphone" value="<% if(typeof(personne) !== 'undefined' ){ %><%= personne.tel %><%}%>">
                                      </div>
                                      <div class="form-group">
                                        <label for="identifiant">Adresse e-mail</label>
                                        <input type="text" class="form-control" id="adresse_email" name="mail" placeholder="Adresse email" value="<% if(typeof(personne) !== 'undefined' ){ %><%= personne.mail %><%}%>">
                                      </div>
                                  </div>
                              </div>
                              <button type="submit" class="btn btn-default envoi">Enregistrer</button>
                  </form>
                          </div>
                    </div>
                    
                  </div>

                  
                    
            </div>
            <div class="footer style-2">
              <div class="background"><div class="stitch"></div></div>
                <div class="foot-nav-bg"></div>
              <div class="content">
                    <div class="patch"></div>
                    <div class="blur"></div>
                    <div class="pattern">
                        <div class="container">
                          <div class="stitch"></div>
                            <div class="sixteen columns">
                                <div class="first column alpha">
                                
                                    <div class="left">
                                        <div class="logo-caption"></div>
                                        <h5>Enzyme</h5>
                                        <p>
                                            Integer eu ante in arcu viverra vehicula donec tempus consequat faucibus. Donec ne thomp nibh egestas suscipit. Donec sed lacus at massa lorem
                     pharetra id eleifend leo.
                              </p>
                                        <p class="extra">
                                            Pellentesque quis felis neque, id adipiscing nunc. Ipsum elit, vitae tempus tellus. Class aptent taciti sociosq desis torquent per conubia nostra, per inceptos himenae dolar eget lacinia sem.
                                        </p>
                                    </div>
                                </div>
                                <div class="column ct">
                                    <h5>Recent Tweets:</h5>
                                    <ul class="twitter" id="twitter_update_list"><li>Twitter is loading</li></ul>
                                </div>
                                <div class="last column omega">
                                    <h5>Join our Mailing List</h5>
                                    
                                    <div class="input-wrapper">
                                        <input type="text" placeholder="Email..." id="email" name="email" />
                                    </div>
                                    <div class="right">
                                      <a href="#" class="button color"><span>Join</span></a>
                                    </div>
                                    <div class="clear"></div>
                                    <span class="hr"></span>
                                    <h5>Stay in Touch</h5>
                                    <ul class="sm foot">
                                        <li class="facebook"><a href="#facebook">Facebook</a></li>
                                        <li class="twitter"><a href="#twitter">LinkedIn</a></li>
                                        <li class="linkedin"><a href="#linkedin">Pinterest</a></li>
                                        <li class="pinterest"><a href="#pinterest">Pinterest</a></li>
                                        <li class="dribbble"><a href="#dribbble">Pinterest</a></li>
                                        <li class="flickr"><a href="#flickr">Pinterest</a></li>
                                        <li class="flavors"><a href="#flavors">Pinterest</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="sixteen columns alpha omega">
                          <div class="foot-nav-bg"></div>
                            <div class="foot-nav">
                                <div class="copy">
                                    Coptyright © 2011-2012 Enzyme. By Empirical Themes - Remove upon purchase
                                </div>
                                <div class="nav">
                                    <a href="#">Home</a>
                                    <a href="#">Portfolio</a>
                                    <a href="#">Contact Us</a>
                                    <a href="#">Terms of Use</a>
                                    <a href="#">Privacy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>    
  </div>


<style> 
  .body .body-wrapper {
    background: none!important;
}
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
});
</script>